# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# @nn123nn2
# T g 
# @Bromax12345
# @Gk9817
# .....
# @Adrian425salyer
# @Remanuwel
# Xporn C
# @Tharaka2025gama
# @DarkDisireZ
# @Thimira34
# @LoveXplores
# T199 03
# 𝑷𝒍𝒂𝒚 𝑩𝒐𝒚 ☯️